@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #191920;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

input {
    background-color: transparent;
    width: 100%;
    border: 1.5px solid rgba(53, 55, 59, 1);
    height: 43px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
    color: white;
}
input::placeholder {
    color: rgba(127, 128, 132, 1);
    font-size: 16px;
    opacity: 1; /* Ensures the color is fully opaque */
}

p {
    font-size: 14px;
}

button {
    border-radius: 4px;
    background-color: #4a96ff;
    width: 100%;
    height: 43px;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

.post-container {
    border: 1px solid #35373b;
    border-radius: 8px;
    background-color: rgba(39, 41, 45, 1);
    padding: 30px 20px;
    margin-top: 40px;
}
.icon_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    min-width: 48px;
    height: 48px;
    background: #27292d;
    border-radius: 48px;
}
